@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  @apply border my-2 py-1 px-4 rounded-full w-full;
}
button {
  @apply py-1 rounded-full px-4;
}

input:focus + .labelline,
input:valid + .labelline {
  transform: translate(-15px, -16px) scale(0.88);
}
/* ///////////////Mnu Navigation Top////////////////////// */
.dropRadiousTop {
  border-radius: 50% 50% 50% 50% / 50% 50% 35% 35%;
}
.indicatorTop::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -16px;
  width: 20px;
  height: 20px;
  border-bottom-right-radius: 17px;
  box-shadow: 2px 10px 0 rgb(31, 134, 241, 1);
}
.indicatorTop::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -16px;
  width: 20px;
  height: 20px;
  border-bottom-left-radius: 17px;
  box-shadow: -2px 10px 0 rgb(31, 134, 241, 1);
}
/* ///////////////Mnu Navigation Bottom////////////////////// */
.shadowTop {
  box-shadow: 0px -4px 20px 10px white;
}
.dropRadious {
  border-radius: 50% 50% 50% 50% / 50% 50% 65% 65%;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 27px;
  left: -16px;
  width: 20px;
  height: 20px;
  border-top-right-radius: 17px;
  box-shadow: 2px -10px 0 #fff;
}
.indicator::after {
  content: "";
  position: absolute;
  top: 27px;
  right: -16px;
  width: 20px;
  height: 20px;
  border-top-left-radius: 17px;
  box-shadow: -2px -10px 0 white;
}
