@tailwind base;
@tailwind components;
@tailwind utilities;

/* /////////////////////////Global///////////////////////// */
.text-with-background {
  position: relative;
  font-size: 24px;
  display: inline-block;
  padding: 10px; /* Dodatkowy padding wokół tekstu */
}

.text-with-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #3498db; /* Kolor tła */
  border-radius: 8px; /* Zaokrąglenie rogów, dostosuj według potrzeb */
}
/* ///////////////Text Perspective////////////////////// */
@media (min-width: 1024px) {
  .perspective {
    perspective: 300px;
    transform: rotateY(-4deg) rotateX(56deg) rotateZ(-48deg);
  }
}
input:focus + .labelline,
input:valid + .labelline {
  transform: translate(-15px, -16px) scale(0.88);
}
/* ///////////////Mnu Navigation Top////////////////////// */
.dropRadiousTop {
  border-radius: 50% 50% 50% 50% / 50% 50% 35% 35%;
}
.indicatorTop::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -16px;
  width: 20px;
  height: 20px;
  border-bottom-right-radius: 17px;
  box-shadow: 2px 10px 0 rgb(31, 134, 241, 1);
}
.indicatorTop::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -16px;
  width: 20px;
  height: 20px;
  border-bottom-left-radius: 17px;
  box-shadow: -2px 10px 0 rgb(31, 134, 241, 1);
}
/* ///////////////Mnu Navigation Bottom////////////////////// */
.shadowTop {
  box-shadow: 0px -4px 20px 10px white;
}
.dropRadious {
  border-radius: 50% 50% 50% 50% / 50% 50% 65% 65%;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 27px;
  left: -16px;
  width: 20px;
  height: 20px;
  border-top-right-radius: 17px;
  box-shadow: 2px -10px 0 #fff;
}
.indicator::after {
  content: "";
  position: absolute;
  top: 27px;
  right: -16px;
  width: 20px;
  height: 20px;
  border-top-left-radius: 17px;
  box-shadow: -2px -10px 0 white;
}
